:root {
    --text-color: rgb(85, 81, 81);
    --stormy-gray-faded: rgba(85, 81, 81, 0.55);
    --stormy-gray-strong: rgb(85, 81, 81, 0.9);
    --faded-white: rgba(255, 255, 255, 0.7);
    --michigan-green: rgba(5, 151, 49, 0.75);
    --michigan-green-hover: rgb(5, 151, 49);
}

* {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.5;
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: auto;
}

p {
    font-size: 20px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul, ol {
    font-size: 1.75rem;
}

.hero {
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1586734184600-84392aff3ef6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 5.75rem;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0;
    color: white;
}

.navigate-btn {
    background-color: var(--stormy-gray-faded);
    width: 22.5vw;
    border: none;
    position: fixed;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigate-btn:hover {
    background-color: var(--stormy-gray-strong);
}

#menu-btn {
    height: 10rem;
    width: 10rem;
    z-index: 99;
    font-size: 3.75rem;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    transition: background-color 0.3s, transform 0.3s;
}

#menu-btn:hover {
    background-color: var(--faded-white);
    transform: rotate(45deg);
}

#back-to-top {
    height: 5rem;
    width: 5rem;
    border: none;
    border-radius: 100%;
    font-size: 2.5rem;
    background-color: var(--michigan-green);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

#back-to-top:hover {
    background-color: var(--michigan-green-hover);
}

#up-scroller {
    top: 0;
}

#down-scroller {
    bottom: 0;
}

.sidebar {
    height: 100vh;
    width: 0;
    z-index: 50;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--text-color);
    position: fixed;
    top: 0;
    right: 0;
    transition: width 0.3s;
}

.side-item {
    height: 4rem;
    margin-left: 0.75rem;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.side-item:hover {
    background: rgba(85, 81, 81, 0.195);
    box-shadow: none;
}

.side-item-text {
    margin-left: 0.5rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.part-one,
.part-two {
    margin: 2rem;
}

.reversed {
    margin-left: 2rem;
}

.card-img {
    height: 35rem;
    border-radius: 7px;
    transition: transform 0.3s;
}

.card-img:hover {
    transform: scale(0.9);
}

.card-title {
    font-size: 3.5rem;
}

.card-desc {
    font-size: 1.75rem;
    text-indent: 2rem;
}

#symbol-link {
    font-weight: bold;
}

.hero-end {
    height: 100vh;
    width: 100vw;
    background-image: url(https://i.redd.it/r2g4n4bcz7f51.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#the-end {
    color: white;
    font-size: 8.75rem;
    text-shadow: 4px 4px rgba(58, 56, 56, 0.55);
    text-align: center;
}

/*For tablets*/

@media screen and (max-width: 725px) {
    .navigate-btn {
        width: 50%;
    }
}

/*For mobile devices*/

@media screen and (max-width: 475px) {
    .navigate-btn {
        width: 75%;
    }
}
